<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class=""></span> Home</a>
      </li>
      <li>
        <a href="/drive"><span class=""></span> Flock</a>
      </li>
      <li>
        <a href="/whdl"><span class=""></span> Silver</a>
      </li>
      <li>
        <a href="/about"><span class=""></span> About</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.github.com/warp-lang/warp"><span class="fa fa-github"></span> Github Repo</a>
      </li>
    </ul>
  </div>
</nav>
